.contacts {
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: fluid(40, 20);

  }

  &__header {
    align-self: center;
    text-align: center;
    max-width: 670px;
  }

  &__body {
    display: grid;
    gap: 30px;

    @include tablet-above {
      grid-template-columns: 32% 1fr;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__footer {
    padding: 20px;
    border-radius: var(--border-radius-l);
    background-color: var(--color-black-10);
    color: var(--color-white);

    &-title {
      color: inherit;
    }
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    gap: 12px;
  }
}