.contact-card {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border: var(--border-transparent);
  border-radius: var(--border-radius-m);

  &__icon{
    @include flex-center();
    @include square(#{fluid(44, 34)});

    padding: 8px;
    background-color: var(--color-accent);
    border-radius: var(--border-radius-m);
    color: var(--color-white);
  }
}