.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  padding-block: fluid(20, 10);
  border-bottom: 1px solid rgb(0 0 0 / 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      gap: 40px;

      @include tablet{
        flex-direction: column;
      }
    }

    &-link {
      font-weight: 300;
      color: var(--color-black);
      transition-duration: var(--transition-duration);

      @include hover {
        color: var(--color-accent);
      }

      @include tablet {
        font-size: 24px;
      }
    }
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--container-padding-x);
    background-color: var(--color-accent);
    border: none;
    z-index: 10;

    @include tablet-above {
      display: contents;
    }

    &[open] {
      display: flex;
    }
  }

  &__wrapper {
    @include tablet-above {
      display: contents;
    }

    @include tablet {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    @include mobile {
      gap: 15px;
    }
  }

  &__burger-button {
    position: relative;
    z-index: 15;
  }
}