.hero {
  &__inner {
    display: flex;
    align-items: center;
    gap: fluid-to-laptop(50, 20);

    @include tablet {
      flex-direction: column;
    }
  }
  &__info {
    display: grid;
    row-gap: 14px;
  }

  &__tag {
    justify-self: start;
  }

  &__actions {
    display: flex;
    gap: 10px;


  }

  &__image {
    width: 100%;
    max-height: fluid(590, 290);
    object-fit: cover;
    border-radius: var(--border-radius-l)
  }
}