.hero {
  &__inner {
    display: flex;
    align-items: center;
    gap: fluid-to-laptop(50, 20);

    @include tablet {
      flex-direction: column;
    }
  }
  &__info {
    display: grid;
    row-gap: 14px;
  }

  &__tag {
    justify-self: start;
  }

  &__title {
    color: var(--color-black);
  }

  &__actions {
    display: flex;
    column-gap: 14px;
  }

  &__image {
    width: 100%;
//    max-width: fluid(710, 390);
    max-height: fluid(710, 390);
    object-fit: cover;
    border-radius: var(--border-radius-l)
  }
}