.logo {
  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    font-size: fluid-to-laptop(20, 18);
    font-weight: 600;
  }

  &__initials {
    padding: 4px;
    border-radius: 8px;
    background-color: var(--color-accent);
    color: var(--color-white);
  }
}