.theme-switcher {
  --padding: 2px;
  --iconWrapperWidth: 42px;
  --iconSize: 24px;

  border: 2px solid transparent;
  border-radius: 60px;
  box-shadow: var(--box-shadow);

  @include hover {
    border-color: var(--color-secondary);
  }

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: var(--padding);
    padding: var(--padding);
    border-radius: inherit;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 2px;
      width: var(--iconWrapperWidth);
      height: var(--iconWrapperWidth);
      background-color: var(--color-accent);
      border-radius: inherit;
      transform: translate3d(0, -50%, 0);
      will-change: transform;
    }

    .theme-switcher__checkbox:checked {
      .theme-switcher__body{
        &::after {
          transform: translate3d(100%, -50%, 0);
        }
      }
    }
  }

  &__icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--iconWrapperWidth);
    height: var(--iconWrapperWidth);
    border-radius: 50%;
    z-index: 1;

    svg {
      width: var(--iconSize);
    }

    &--dark-theme {
      background-color: var(--color-accent);
    }
  }
}