:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-black-10: #333333;
  --color-red-45: #e50000;
  --color-primary: #D9EAFD;
  --color-secondary: #BCCCDC;
  --color-accent: #9AA6B2;
  --color-background: #F8FAFC;

  --border: 1px solid var(--color-accent);
  --border-transparent: 1px solid rgb(0 0 0 / 0.1);

  --border-radius-l: 20px;
  --border-radius-m: 10px;
  --border-radius-s: 4px;

  --box-shadow: -4px -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 12px var(--color-black);

  --font-family-base: 'Nunito', sans-serif;

  --container-width: #{fluid-to-laptop($container-desktop-width, $container-laptop-width)};
  --container-padding-x: 16px;

  --section-padding-y: #{fluid(75, 40)};

  --field-padding-x: #{fluid-to-laptop(20, 16)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}